[Unit]
Description=Posterchan Bot Manager
After=network.target

[Service]
Type=simple
User=verita84
WorkingDirectory=/home/verita84/posterchan
ExecStart=/home/verita84/posterchan/venv/bin/python /home/verita84/posterchan/botctl.py run
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
