{% extends "base.html" %}

{% block title %}Chat - Poster-chan AI{% endblock %}

{% block content %}
<div class="app-container">
    {% include 'includes/sidebar.html' %}
    {% include 'includes/chat_main.html' %}
</div>

{% include 'includes/modals/user_settings.html' %}
{% include 'includes/modals/translate.html' %}
{% include 'includes/modals/news.html' %}
{% include 'includes/modals/rag.html' %}

<link rel="stylesheet" href="/static/css/rag.css">

<script src="/static/js/mascot.js"></script>
<script src="/static/js/tts.js"></script>
<script src="/static/js/chat.js?v=23"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/apikeys.js?v=2"></script>
<script src="/static/js/rag.js"></script>
{% endblock %}
